/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (10000) [LoanNumber]
      ,[CustomerFname]
      ,[CustomerLname]
      ,[PropertyAddress]
      ,[City]
      ,[State]
      ,[BankruptcyAttorneyName]
      ,[UPB]
      ,[LoanDate]
  FROM [loan].[dbo].[Loan]