  /*Gerald Onwude
  operators - section 3
  */
  

  Select	*
  From		emp
  Where		empname Not Like '%e%'

  Select	*
  From		dept
  Where		deptname Not Like '%d%'


  SELECT *
INTO Players_backup 
FROM Players


select *
from  Players_backup

SELECT *
INTO Coaches_backup
FROM Coaches

select *
from  Coaches_backup